{% use 'form_div_layout.html.twig' %}

{%- block form_widget_simple -%}
    {% if attr.class is defined and attr.class == 'kcms_img' %}
        <div id="img_selector_{{ id }}" data-id="{{ id }}">
            {{ parent() }}
            <input type="button" value="Select" class="add_img_btn btn btn-primary" data-id="{{ id }}" />
            <div class="img_preview" id="img_preview_{{ id }}">
                {% if data is not empty %}
                    <img src="{{ data }}" />
                {% endif %}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock form_widget_simple -%}
